

html, body {
    --pacman: #050401;
    --background: #fcfcfc;
    
    --dot: #4f4d4d;
    --size: 4vmin;
    --halfSize: calc(var(--size) / 2);
    --negativesize: calc(var(--size) * -1);
    --positionTop: calc(50vh - var(--halfSize));
    --timing: 5s;
    --timingEat: 0.4s;
  
    background-color: var(--background);
    background-image: linear-gradient(var(--background), var(--background)), radial-gradient(var(--dot) 10%, transparent 0);
    background-size: 100vw var(--size), var(--size) var(--size);
    background-repeat: no-repeat, repeat;
    background-position: calc(-100vw - var(--halfSize)) var(--positionTop), 0 0;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    border-radius: 2vmin;

    overflow: hidden;

    animation: move var(--timing) linear infinite;
}

@keyframes move {
      0% { background-position: calc(-100vw - var(--halfSize)) var(--positionTop), center center; }
      100% { background-position: 0 var(--positionTop), center center; }
}

.pacman-container::after {
      content: "";
      display: block;
      top: calc(var(--positionTop) + 1vmin);
      left: 0;
      position: absolute;
      width: calc(var(--size) - 2vmin);
      height: calc(var(--size) - 2vmin);
      border-radius: 50%;
      background: conic-gradient(var(--pacman) 55deg, transparent 0 125deg, var(--pacman) 0);
      animation: eat var(--timingEat) linear infinite, 
                 movePacman var(--timing) linear infinite;
}
  
@keyframes eat {
      0%, 
      50% { background: conic-gradient(var(--pacman) 55deg, transparent 0 125deg, var(--pacman) 0); }
      25% { background: conic-gradient(var(--pacman) 55deg, var(--pacman) 0); }
}
  
@keyframes movePacman {
      from { transform: translate(var(--negativesize), 0); }
      to { transform: translate(100vw, 0); }
}
  
.pacman-container::before {
      content: "";
      display: block;
      position: absolute;
      width: 3vmin;
      height: var(--size);
      background: var(--background);
      left: calc(3vmin); /* Adjusted for better visibility */
      box-shadow: calc(100vw - calc(3vmin)) calc(3vmin) var(--background);
      top: var(--positionTop);
}

/* Ghost styles using images */
.ghost {
    position: absolute;
    width: calc(var(--size) * .8); /* Width of ghost */
    height: calc(var(--size) * .8); /* Height of ghost */
    border-radius:50%;
    background-size: cover; /* Ensure the image covers the ghost area */
}

.ghost1 {
    background-image:url('@/app/ghost1.png'); /* Use an image for the red ghost */
    top: calc(20% + (10vh)); /* Initial Position of ghost */
}

.ghost2 {
    background-image:url('@/app/ghost2.png'); /* Use an image for the blue ghost */
    top: calc(40% + (15vh)); /* Initial Position of ghost */
}

.ghost3 {
    background-image:url('@/app/ghost3.png'); /* Use an image for the yellow ghost */
    top: calc(30% + (20vh)); /* Initial Position of ghost */
}

.ghost4 {
    background-image:url('@/app/ghost4.png'); /* Use an image for the green ghost */
    top: calc(60% + (20vh)); /* Initial Position of ghost */
}
.ghost5 {
    background-image:url('@/app/ghost1.png'); /* Use an image for the green ghost */
    top: calc(60% + (20vh)); /* Initial Position of ghost */
}
.ghost6 {
    background-image:url('@/app/ghost2.png'); /* Use an image for the green ghost */
    top: calc(60% + (20vh)); /* Initial Position of ghost */
}
.ghost7 {
    background-image:url('@/app/ghost3.png'); /* Use an image for the green ghost */
    top: calc(60% + (20vh)); /* Initial Position of ghost */
}
.ghost8 {
    background-image:url('@/app/ghost4.png'); /* Use an image for the green ghost */
    top: calc(60% + (20vh)); /* Initial Position of ghost */
}
